.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 80vh;
    background-color: black;
    opacity: 85%;
}

#titulo{
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
}

.box{
padding: 15px; 
border-radius: 10px;
width: 300px;
}

#input2{
  margin-top: 7px;
  margin-bottom: 35px;
}

#entrar{
  background-color: red;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#check{
  margin-top: 15px;
  width: 20px;
  height: 15px;
}

#lembrar{
  color: white;
}

.box, #titulo, #check{
  margin-left: 50px;
}

#robo{
  color: white;
  font-size: 14px;
  padding-left: 20px;
  margin-top: 150px;
  padding: 0px 30px 0px 50px;
}

#link_robo{
  color: blue;
  cursor: pointer;
}